<% layout('boilerplate/html.ejs') -%>

    <h1>All Campgrounds</h1>
    <ul>
        <% for( campground of campgrounds) { %>
            <div class="card my-4 " style="width: auto;">
                <div class="row d-flex ">
                    <div class="col-4">
                        <img src="<%= campground.image %>" class="card-img-top font-bold" alt="...">   
                    </div>
                    <div class="col-8">
                        <div class="card-body pb-0">
                            <h5 class="card-title"><%= campground.title %> - <span class="text-muted"><%= campground.user.username %></span></h5>
                            <p class="card-text mb-2"><%= campground.description %></p>
                            <a href="/campground/<%= campground.id %>" class="btn btn-primary ">Detail</a>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        <% } %>
    </ul>

