<% layout('boilerplate/html.ejs') -%>

    <div class="container">
        <form action="/campground/<%= campground.id %>/edit?_method=PUT" enctype="multipart/form-data" class="needs-validation" method="post" novalidate>
            <div class="mx-auto w-50">
                <h1 class="text-center mb-5 ">New Campground</h1>
                <div class="form-floating mb-3">
                    <input value="<%= campground.title %>" required type="text" name="title" class="form-control" id="validationCustom01"
                        placeholder="name@example.com">
                    <label for="validationCustom01">Title</label>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please choose a username.
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input value="<%= campground.location %>" required type="text" name="location" class="form-control" id="floatingPassword"
                        placeholder="Password">
                    <label for="floatingPassword">Location</label>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Invalid Location
                    </div>
                </div>
                <div class="mb-3">
                    <input class="form-control" type="file" id="formFileMultiple" name="upload" multiple>
                </div>
                <div class="form-floating mb-4">
                    <input value="<%= campground.price %>" required type="text" name="price" class="form-control" id="floatingPrice"
                        placeholder="Password">
                    <label for="floatingPrice">Price </label>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Invalid Price
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <textarea required name="description" id="floatingDescription" class="form-control"
                        style="height: 100px" placeholder="Password"><%= campground.description %></textarea>
                    <label for="floatingDescription">Description</label>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please input Nice Validation
                    </div>
                </div>

                <button class="btn btn-success mt-5">Submit</button>
            </div>
        </form>


    </div>