<% layout('boilerplate/html.ejs') -%>

<div class="container">
    <form action="/campground/<%= campground.id %>/edit" method="post">
        <div class="mx-auto w-50">
            <h1 class="text-center mb-5 ">New Campground</h1>
            <div class="form-floating mb-3">
                <input required type="text" value="<%= campground.title %>" name="title" class="form-control" id="floatingInput"
                    placeholder="name@example.com">
                <label for="floatingInput">Title</label>
            </div>
            <div class="form-floating mb-3">
                <input required type="text" value="<%= campground.location %>" name="location" class="form-control" id="floatingPassword"
                    placeholder="Password">
                <label for="floatingPassword">Location</label>
            </div>
            <div class="form-floating mb-3">
                <input required  type="text" value="<%= campground.image %>" name="image" class="form-control" id="floatingImage" placeholder="Password">
                <label for="floatingImage">Image Url</label>
            </div>
            <div class="form-floating mb-4">
                <input required type="text" value="<%= campground.price %>" name="price" class="form-control" id="floatingPrice" placeholder="Password">
                <label for="floatingPrice">Price </label>
            </div>
            <div class="">
                <label class="fs-4" for="floatingDescription">Description : </label>
                <textarea name="description"  id="floatingDescription" class="form-control" style="height: 100px"
                    placeholder="Password"><%=campground.description%></textarea>
                
            </div>

            <button class="btn btn-info text-white mt-5">Update Campground</button>
        </div>
    </form>


</div>
