<% layout('boilerplate/html.ejs') -%>
    <div class="row gap-3">
        <div class="card col" style="width: auto;">
            <img src="<%=campground.image%>" class="card-img-top img-fluid" alt="No Picture">
            <div class="card-body">
                <h5 class="card-title font-bold">
                    <%= campground.title %>
                </h5>
                <h5 class="card-title font-bold  mb-3">Post By : <span class="text-muted">
                        <%= campground.user.username %>
                    </span></h5>
                <p class="card-text">
                    <%= campground.description %>
                </p>
            </div>
            <div>
                <hr>
                <p class="px-3 text-muted px-3">
                    <%= campground.location %>
                </p>
                <hr>
            </div>
            <div>

                <p class=" px-3">
                    <%= campground.price %>$/Night
                </p>
                <hr>
            </div>
            <% if (user && user.id==campground.user.id ) { %>
                <div class="card-body d-flex gap-2">
                    <div>
                        <a href="/campground/<%=campground.id%>/edit" class="btn btn-success">Edit</a>
                    </div>

                    <form action="/campground/<%=campground.id%>/delete?_method=DELETE" method="post">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
                <% } %>



                    <div class="card-footer text-muted">
                        <span>2 days ago</span>
                    </div>
        </div>

        <div class="col">
            <h1 class="">Leave A Review</h1>
            <form action="/campground/<%= campground.id %>/review" class="needs-validation" method="post">
                <label for="customRange1" class="form-label">Rating</label>
                <input required name="rating" max="5" min="1" type="range" class="form-range mb-3" id="customRange1">
                <div class="form-floating mb-3">
                    <textarea required name="body" id="validationServer01" class="form-control" style="height: 100px"
                        placeholder="Password"></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please input Nice Validation
                    </div>
                    <label for="floatingTextarea2">Comments</label>
                </div>
                <button class="btn btn-success">Review</button>
            </form>
            <% for(let review of campground.reviews) { %>
                <div class="card mt-3">
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <h3>By <%= review.user.username %></h3>
                            <h3 class="mb-3 ">Rating : <%= review.rating %>
                            </h3>
                            <footer class="">Comment : <%= review.body %>
                            </footer>
                        </blockquote>
                        <% if (user && user.id==review.user.id ) { %>
                            <form action="/campground/<%= campground.id %>/review/<%= review.id %>?_method=delete"
                                method="post">
                                <button class="btn btn-danger mt-3">Delete</button>
                            </form>
                            <% } %>
                    </div>
                </div>
                <% } %>
        </div>
    </div>